# Discord Application
CLIENT_ID=1426592914594726080
CLIENT_SECRET=YOUR_CLIENT_SECRET

# Discord Bot
BOT_TOKEN=YOUR_BOT_TOKEN

# Your Discord Server
GUILD_ID=1458276935535956135
VERIFIED_ROLE_ID=1532845409855213728

# Website
REDIRECT_URI=https://YOUR-APP.onrender.com/callback
PORT=3000
